<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmy.common">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity android:name=".ad.SkipSplashAdActivity" />
        <activity android:name=".ad.BaseSplashAdActivity" />

    </application>

</manifest>